#processedText {
    margin-top: 20px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
    max-height: 400px;
    overflow-y: auto;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
}

#fileInfo {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#fileName {
    font-size: 14px;
    padding: 5px 10px;
}

#removeFileBtn {
    font-size: 12px;
    padding: 5px 8px;
}

#downloadTextBtn {
    display: none;
    width: 100%;
}
